body {
    background-color: lightblue;
    box-sizing: border-box;
    font-size: larger;
    margin-left: 20px;
    margin-bottom: 50px;
}

.index-title {
    width: auto;
    color: white;
    border: 5px black dotted;
    margin: 20px;
    margin-bottom: 140px;
    padding: 4px 10px;
    transform: scale(3.0);
    transform-origin: 0 0;
    display: inline-block;
}

.index-title:hover {
    color: black;
    border: 5px white dotted;
}

a {
    text-decoration: none;
    margin-bottom: 2px;
}

.recipe-links {
    list-style: none;
}

button:hover {
    background-color: #f7f494;
    color: black;
}

.index-button {
    width: 100px;
    margin: 45px;
    padding: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    transform: scale(2.5);
    transform-origin: 0 0;
}

button {
    width: 80px;
    padding: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    margin-right: 10000px;
    cursor: pointer;
}

h1 {
    color: black;
    border: 5px white dotted;
    width: auto;
    display: inline-block;
    padding: 3px 10px;
    margin-right: 1500px;
    margin-top: 100px;
}

h1:hover {
    color: white;
    border: 5px black dotted;
}

.cropped-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.recipe-container {
    background-color: white;
    width: 1000px;
    height: fit-content;
    padding: 2px 10px;
    margin-top: 25px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
}

img {
    border-radius: 50px;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
}

.menu-content a {
    background-color: #f7f494;
    width: 180px;
    height: 20px;
    color: black;
    text-decoration: none;
    display: block;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    padding-left: 8px;

}

.menu-content a:hover {
    display: block;
}

.menu:hover .menu-content {
    display: block;
}

.index-photo1, .index-photo2, .index-photo3 {
    margin: 15px;
    margin-left: 1000px;
    margin-top: -500px;
    transform: scale(2.0);
    transform-origin: 0 0;
}

.photo-container img {
    display: none;
}

.buttons-and-photos:has(.garlic-button:hover) .index-photo1 {
    display: block;
}

.buttons-and-photos:has(.chili-button:hover) .index-photo2 {
    display: block;
}

.buttons-and-photos:has(.cookies-button:hover) .index-photo3 {
    display: block;
}
